[Desktop Entry]
Encoding=UTF-8
Name=Countdown Timer
Name[pl]=Countdown Timer
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Przemek K.
X-KDE-PluginInfo-Email=cgenie@gmail.com
X-KDE-PluginInfo-Name=countdown-timer
X-KDE-PluginInfo-Version=0.12
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
