[Desktop Entry]
Name=NoRa-T
Comment=NoRa (No Radius on Corner) - Transparent Plasma Theme based on - Androbit - 4.8.3, Air - KDE 4.9 and 4.10, Oxygen - KDE 4.9 and Neda themes
X-KDE-PluginInfo-Author=Grely
X-KDE-PluginInfo-Name=NoRa-T
X-KDE-PluginInfo-Version=1.4
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
