[Desktop Entry]
Name=Transparent-sima84
Comment=theme for KDE4
X-KDE-PluginInfo-Name=Transparent-sima84
X-KDE-PluginInfo-Author=Milen Simic
X-KDE-PluginInfo-Email=sima84@gmail.com
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
