[Desktop Entry]
Name=Arezzo

Comment=This is my next theme, it has nice, glazed look. Comments, sugestions and advices are welcome, enjoy it :)
X-KDE-PluginInfo-Author=Irek (ireko) Kopeć
X-KDE-PluginInfo-Email=irek1991 (at) gmail (dot) com
X-KDE-PluginInfo-Name=Arezzo
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.kde-look.org
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=Creative Commons by-nd
X-KDE-PluginInfo-EnabledByDefault=true
