[Desktop Entry]
Encoding=UTF-8
Name=Nixie Clock
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Charles Figura
X-KDE-PluginInfo-Email=charles.figura@wartburg.edu
X-KDE-PluginInfo-Name=NixieClock
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
