[Desktop Entry]
Comment=A mix of Oxygen, Androbit, Elegance, and Glassified.
Name=Varecia

X-KDE-PluginInfo-Author=superfuzzykittens
X-KDE-PluginInfo-Name=superfuzzykittens
X-KDE-PluginInfo-Version=4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category="Plasma Theme"