[Desktop Entry]
Name=Black Pearl
Comment=Smooth silk of balck


X-KDE-PluginInfo-Author=K.Khākbiz
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Black_Pearl
X-KDE-PluginInfo-Version=1.0.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE 4.x
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true